@using System.Threading
@using Santhos.Web.Mvc.BootstrapFlashMessages
@{
    var titleTag = (string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : ViewBag.Title + " - ") + Resources.Common.ApplicationName;

    // set up global js variable, to hold culture code
    // it is later used for globalize, cldr and moment
    var currentCultureCode = "root";
    switch (Thread.CurrentThread.CurrentCulture.ToString())
    {
        case "et-EE":
            currentCultureCode = "et";
            break;
        case "en-US":
            currentCultureCode = "en";
            break;
        default:
            currentCultureCode = Thread.CurrentThread.CurrentCulture.ToString();
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@titleTag</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var currentCultureCode = '@currentCultureCode';
    </script>
    @RenderSection("headerscripts", required: false)
</head>
<body>

@Html.Partial("~/Areas/MemberArea/Views/Shared/_Header.cshtml")
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("~/Areas/MemberArea/Views/Shared/_Nav.cshtml")
        </div>
        <div class="col-md-10">
            @Html.FlashMessages(true)
            @RenderBody()
        </div>
    </div>
</div>
    @Html.Partial("~/Areas/MemberArea/Views/Shared/_Footer.cshtml")


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/MemberArea")
@Styles.Render("~/content/MemberArea")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
@RenderSection("scripts", required: false)
@section scripts
{
        <script type="text/javascript">
        $("#apiLogout").click(function (event) {
            $("#user").val("");
            $("#result").html("Logout!");

            sessionStorage.removeItem('accessToken');
            event.preventDefault();
        });
        </script>
}
</body>
</html>