@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName() <b class="caret"></b></a>
                <ul class="dropdown-menu animated fadeInUp">
                    <li>@Html.ActionLink(@Resources.Common.ManageAccount, "Index", new {area = "MemberArea", controller = "Manage"})</li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Common.LogOff</a>
                    </li>
                </ul>
            </li>
           
        </ul>
        
    }
}

