@using Microsoft.AspNet.Identity
@model BLL.ViewModels.MessageThread.DetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <h5>@Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(model => model.Author)</h5>
</div>

<div class="panel">

    <!--Widget body-->
    <div id="demo-chat-body" class="collapse in">
        <div class="nano">
            <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                <ul class="list-unstyled media-block">
                    @foreach (var item in Model.DetailsModels)
                    {
                        <li class="mar-btm">
                            <div class="media-body pad-hor @(User.Identity.GetUserId() == item.AuthorId.ToString() ? "" : "speech-right")">
                                <div class="speech">
                                    @Html.ActionLink(item.Sender, "Details", "Profile", new {id = item.AuthorId}, new {@class = "media-heading"})
                                    <p>@Html.DisplayFor(modelItem => item.Text)</p>
                                    <p class="speech-time">
                                        <i class="fa fa-clock-o fa-fw"></i>@item.DateTimeCreated.ToString("g")
                                    </p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <!--Widget footer-->
            <div class="panel-footer">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-xs-11">
                        @Html.TextBoxFor(model => model.NewMessageModel.Text, new {@class = "form-control chat-input"})
                        @Html.ValidationMessageFor(model => model.NewMessageModel.Text, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-xs-2">
                        <input type="submit" value="Send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
