@using System.Configuration
@using Web.ViewModels
@model Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = Resources.Account.Login_Title;
}


<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="box">
                        <div class="content-wrap">
                            <h6>@Resources.Account.Login_UseLocalAccountToLogin</h6>
                            @Html.ValidationMessage("summary", new {@class = "text-danger"})
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = @Resources.Account.ViewModel_Email})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = @Resources.Account.ViewModel_Password })
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})"

                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            <div id="result"></div>
                            <div class="action">
                                <input type="submit" value="@Resources.Account.Login_ButtonLogin" class="btn btn-primary signup"/>
                            </div>
                        </div>
                    </div>
                }


                <div class="already">
                    <p>Don't have an account yet?</p>
                    @Html.ActionLink("Register as a new user", "Register")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        @*function showError(jqXHR) {
            $("#result").html(jqXHR.status + ': ' + jqXHR.statusText);
        }

        $("form.form-horizontal").submit(function (event) {
            $("#result").html("Login...");

            var loginData = {
                grant_type: 'password',
                username: $("#Email").val(),
                password: $("#Password").val()
            };

            $.ajax({
                type: 'POST',
                url: '@ConfigurationManager.AppSettings["WebApi_BaseAddress"]' + 'Token',
                data: loginData
            }).done(function (data) {
                $("#user").val(data.userName);
                $("#result").html("Login done!");

                // Cache the access token in session storage.
                sessionStorage.setItem('accessToken', data.access_token);
            }).fail(showError);

            event.preventDefault();
        });*@

    
    </script>
} 