@model Web.ViewModels.RegisterViewModel
@{
    ViewBag.Title = Resources.Account.RegisterTitle;
}


<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box">
                        <div class="content-wrap">
                            <h6>@Resources.Account.RegisterCreateNewAccount</h6>
                            @Html.ValidationMessage("summary", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Resources.Account.ViewModel_Email })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = @Resources.Account.ViewModel_FirstName })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = @Resources.Account.ViewModel_LastName })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Account.ViewModel_Password })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Resources.Account.ViewModel_ConfirmPassword })

                            <div class="action">
                                <input type="submit" value="@Resources.Account.RegisterButtonRegister" class="btn btn-primary signup" />
                            </div>
                        </div>
                    </div>
                }
                <div class="already">
                    <p>Already registered?</p>
                    @Html.ActionLink("Log in", "Login")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function showError(jqXHR) {
            $("#result").html(jqXHR.status + ': ' + jqXHR.statusText);
        }

        $("#apiRegister").submit(function (event) {
            $("#result").html("Register...");

            var registerData = {
                Email: $("#registerEmail").val(),
                Password: $("#registerPassword").val(),
                ConfirmPassword: $("#registerPassword2").val()
            };

            $.ajax({
                type: 'POST',
                url: '/api/Account/Register',
                contentType: 'application/json; charset=utf-8',
                processData: false,
                data: JSON.stringify(registerData)
            }).done(function (data) {
                $("#result").html("Register done!");
            }).fail(showError);

            event.preventDefault();
        });

    </script>
}