@using Domain
@model Web.Areas.MemberArea.ViewModels.Blog.DetailsModel


@{
    ViewBag.Title = "Details";
}


<h2>@Resources.Blog.BlogNoun @Model.Name</h2>



<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.BlogId}) |
    @Html.ActionLink("Create post", "Create", "BlogPosts", new {id = Model.BlogId}, null) |
    @Html.ActionLink("Back to List", "Index")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(blogPosts => blogPosts.BlogPosts.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(blogPosts => blogPosts.BlogPosts.FirstOrDefault().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(blogPosts => blogPosts.BlogPosts.FirstOrDefault().UpdatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BlogPosts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("View", "Edit", "BlogPosts", new {id = item.BlogPostId}, null) |
                @Html.ActionLink("Delete", "Delete", "BlogPosts", new {id = item.BlogPostId}, null) 
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}