@using Domain
@{BlogPost item = (BlogPost)ViewData["item"];}


<div class="row">
    <div class="col-md-12">
        <div class="content-box-header">
            <div class="panel-title">@item.Title</div>
            <div class="pull-right">
                @if (item.Blog.UserBlogConnections?.Count > 0)
                {
                    @Html.ActionLink(Resources.Blog.DisconnectFrom, "DisconnectFrom", "Blogs", new {id = item.BlogId}, null)
                }
                else
                {
                    @Html.ActionLink(Resources.Blog.ConnectTo, "ConnectTo", "Blogs", new {id = item.BlogId}, null)
                }
                |
                @Html.ActionLink(Resources.Blog.GoToBlog, "Details", "Blogs", new {id = item.BlogId}, null)
            </div>
        </div>
        <div class="content-box-large box-with-header">
            <p><strong>@Resources.Blog.Author: @Html.ActionLink(item.Author.FirstLastName, "Details", "Profile", new { id = item.AuthorId }, null) </strong></p>
            @Html.Raw(item.Message)
            <br><br>
        </div>
    </div>
</div>