@model Web.Areas.MemberArea.ViewModels.Profile.DetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
      
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberSinceDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberSinceDateTime)
        </dd>

        <dt>
        </dt>

        <dd>

            @Html.ActionLink(@Resources.Account.SendMessageToUser, "Create", "Messages", new {receiverId = Model.id}, null)
        </dd>

        <dt>
        </dt>

        <dd>

            @Html.ActionLink(@Resources.Account.AddAsConnection, "Create", "Messages", new { receiverId = Model.id }, null)
        </dd>

    </dl>
</div>
